* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: #080705;
}

section {
  width: max-content;
  max-width: 600px;
}

.game--title {
  width: max-content;
  padding: 10px;
  text-align: left;
  text-shadow: 0px 2px;
  border-radius: 10px;
  color: #080705;
  background-color: #EAEAEA;
  box-shadow: inset 3px -5px;
  transform: rotate(-2deg);
}

#gameBox {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: .5rem;
  min-height: 30vh;
  width: max-content;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  /* background-color: rgb(30, 30, 30); */
}

[class *="item"] {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 80px;
  margin: 0;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: monospace;
  border-radius: 12px;
  color: #EAEAEA;
  box-shadow: 3px 3px #247BA0;
  background-color: #3E78B2;
  transition: 0.1s ease-in-out;
}

[class *="item"]:active {
  background-color: transparent;
  color: #EAEAEA;
  border: 1.5px solid #EAEAEA;
}

/* Stops the box from resizing */
[class *="item"] .text {
  position: absolute;
  display: block;
}

.game--info {
  width: 80%;
  padding: 20px;
  margin: 5px auto;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: -2px;
}

#resetBtn {
  display: block;
  width: 80%;
  height: 60px;
  padding: 8px;
  margin: 0px auto;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  color: #EAEAEA;
  background-color: #A77E58;
  transition: 0.3s ease-in-out;
}

#resetBtn:active {
  box-shadow: none;
  transform: translate(2px, -2px);
}
